{% load static %}
{% load ranking_extras %}
{% load character_extras %}
{% get_static_prefix as STATIC_PREFIX %}

<div class="review">
	<div class="header"><a href="#">Os 5 titãs da arena</a></div>
	<ul>
		{% for char in chars %}
		<li>
		<div class="img"><a href="#"><img src="{{ STATIC_PREFIX }}images/classes/{{ char.char_class }}.png" alt="{{ char.char_class|class_as_text }}" /></a></div>
		<div class="info"> <a href="#"><strong>{{ char.char }}</strong></a><br/>
			<small>Level <strong>{{ char.level }}</strong></small><br/>
			<small><strong>{{ char.bp }}</strong> BPS</small><br/>
			<small><img src="{{ STATIC_PREFIX }}images/stars/{{ char.bp|bp_stars }}.png" alt="Pontuação relacionada a média de BPs do servidor" /><br/></small>
			<br/>
		</li>
		{% endfor %}
	</ul>
</div>
