{% extends 'base_splitted.html' %}
{% block right_wrapper %}
<div class="categories">
	<div class="header"><a href="#">AÇÕES</a></div>
	<ul>
		<li> <a href="{% url 'dashboard' %}">Início</a> </li>
		<li> <a href="http://realitypk.com:8080/" target="_blank">Acessar o Painel de Jogador</a> </li>
		<li> <a href="#">Suporte</a> </li>
		<li> <a href="#">Survivor or Die (SoD)</a> </li>
		<li> <a href="#">Enviar Screenshot</a> </li>
		<li> <a href="{% url 'logout' %}">Sair</a> </li>
	</ul>
</div>
{% endblock %}
