{% extends 'splitted_with_right.html' %}
{% block slider %}
<div id="da-slider" class="da-slider">
	{% for news in slider_news %}
	<div class="da-slide">
		<h2><a href="#" class="da-link">{{ news.title }}</a></h2>
		<p>{{ news.text }}</p>
		<div class="da-img"><img  src="{{ MEDIA_URL }}{{ news.image }}"  /></div>
	</div>
	{% endfor %}
	<div class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </div>
</div>

<div class="top_shadow"></div>
{% endblock %}
{% block rotate %}
<div id="hot_news">
	<div class="header">
		<h1><span>RPK //</span> DESTAQUES DA LOJA</h1>
	</div>

	<!-- Previous and next selector --> 
	<a id="prev" class="prev" href="#"><img  src="{{ STATIC_URL }}images/blank.gif" width="21" height="33" border="0" /></a> <a id="next" class="next" href="#"><img  src="./images/blank.gif" width="21" height="33" border="0" /></a>
	<ul id="hot_news_box">
		<li>
		<h2><a href="./post.html">Battlefield 3 expansion!</a></h2>
		<div class="image"><a href="./post.html"><img  src="{{ STATIC_URL }}images/media/full/1.jpg"/></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">Dead space looking good</a></h2>
		<div class="image"><a href="./post.html"><img  src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">Dead space new footage</a></h2>
		<div class="image"><a href="#"><img  src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">Owning at DayZ</a></h2>
		<div class="image"><a href="#"><img  src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">LoL tournament </a></h2>
		<div class="image"><a href="#"><img  src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">MOHW not as good as planned</a></h2>
		<div class="image"><a href="#"><img  src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="#" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
	</ul>
</div>
{% endblock %}

{% block left_wrapper %}
<div class="header">
	<h2><span>RPK //</span> ÚLTIMAS NOTÍCIAS</h2>
</div>
<ul id="general_news">
	{% for cnews in news %}
	<li>
	<div class="image"><a href="#"><img  src="{{ MEDIA_URL }}{{ cnews.image }}" /></a></div>
	<ul class="social_share">
		<li><a href="#"><img  src="{{ STATIC_URL }}images/fbk.png" border="0" /></a></li>
		<li><a href="#"><img  src="{{ STATIC_URL }}images/twitter.png" border="0" /></a></li>
		<li><a href="#"><img  src="{{ STATIC_URL }}images/more.png" border="0" /></a></li>
	</ul>
	<div class="info">
		<h2><a href="#">{{ cnews.title }}</a></h2>
		<div class="date_n_author">{{ cnews.date }}</div>
		<p>{{ cnews.text }}</p>
		<a href="#" class="read_more2">Leia mais</a> </div>
	<div class="clear">
	</div>
	</li>
	{% endfor %}
</ul>
<div class="clear"></div>
{% endblock %}

