<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Reality PK</title>
<link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css" />
<!-- Included CSS Files -->
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/main.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/devices.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/paralax_slider.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/jquery.fancybox.css?v=2.1.2" type="text/css"  media="screen" />
<!--[if IE]>
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/ie.css"> 
<![endif]-->


</head>

<body>

<!--********************************************* Main wrapper Start *********************************************-->
<div id="footer_image">
  <div id="main_wrapper"> 
    
    <!--********************************************* Logo Start *********************************************-->
    <div id="logo"> <a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/rpk.png"  /></a>
      <div id="social_ctn"> 
      
      <a class="social_t"><img alt="alt_example" src="{{ STATIC_URL }}images/social_tleft.png" /></a> 
  
      <a href="#" id="rss"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="100%" height="37px" /></a> 
      <a href="#" id="facebook"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="100%" height="37px" /></a> 
      <a href="#" id="twitter"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="100%" height="37px" /></a>  
      <a href="#" id="google_plus"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="100%" height="37px" /></a>
      <a href="#" id="you_tube"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="100%" height="37px" /></a> 
    
	  <a class="social_t" ><img alt="alt_example" src="{{ STATIC_URL }}images/social_tright.png" /></a> 
      
      </div>
    
    </div>
    <!--********************************************* Logo end *********************************************--> 
    
    <!--********************************************* Main_in Start *********************************************-->
    <div id="main_in"> 
    
    <!--********************************************* Mainmenu Start *********************************************-->
    <div id="menu_wrapper">
      <div id="menu_left"></div>
      <ul id="menu">
        <li><a href="#">Início</a></li>
      </ul>
        <a href="#" id="pull">Menu</a>
      <div id="menu_right"></div>
      <div class="clear"></div>
    </div>
    
    <!--********************************************* Mainmenu end *********************************************--> 
    
    <!--********************************************* Banner start *********************************************-->
    <div id="da-slider" class="da-slider">
      <div class="da-slide">
        <h2><a href="#" class="da-link">For gamer by gamers</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
          Ut iaculis lorem vitae arcu elementum pellentesque. <br />
          Praesent pellentesque ornare neque id lobortis.</p>
        <div class="da-img"><img alt="alt_example" src="{{ STATIC_URL }}images/slider_1.jpg"  /></div>
      </div>
      <div class="da-slide">
        <h2><a href="#" class="da-link">Blade and Soul</a></h2>
        <p>Phasellus ac leo turpis. Morbi at pulvinar augue. <br />
          Aenean rhoncus ultrices volutpat. Vivamus eget enim ut orci iaculis condimentum sed a quam. </p>
        <div class="da-img"><img alt="alt_example" width="400" src="{{ STATIC_URL }}images/slider_2.jpg"  /></div>
      </div>
      <div class="da-slide">
        <h2><a href="#" class="da-link">Final Fantasy XIV</a></h2>
        <p>Etiam eu massa lectus. Nunc mi velit, commodo ut ullamcorper et, consectetur vel dolor. Etiam tincidunt convallis metus non suscipit.</p>
        <div class="da-img"><img alt="alt_example" src="{{ STATIC_URL }}images/slider_3.jpg"  /></div>
      </div>
      <div class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </div>
    </div>
    
    <!--********************************************* Banner end *********************************************-->
    
    <div class="top_shadow"></div>
    
    <!--********************************************* Hot news start *********************************************-->
    <div id="hot_news">
      <div class="header">
        <h1><span>RPK //</span> NOTÍCIAS QUENTES</h1>
      </div>
      
      <!-- Previous and next selector --> 
      <a id="prev" class="prev" href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="21" height="33" border="0" /></a> <a id="next" class="next" href="#"><img alt="alt_example" src="./images/blank.gif" width="21" height="33" border="0" /></a>
      <ul id="hot_news_box">
        <li>
          <h2><a href="./post.html">Battlefield 3 expansion!</a></h2>
          <div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg"/></a></div>
          <div class="content">
            <p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
              eistoteles anarequi et son amorites etimo nurli.</p>
            <div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
          </div>
        </li>
        <li>
          <h2><a href="./post.html">Dead space looking good</a></h2>
          <div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
          <div class="content">
            <p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
              eistoteles anarequi et son amorites etimo nurli.</p>
            <div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
          </div>
        </li>
        <li>
          <h2><a href="./post.html">Dead space new footage</a></h2>
          <div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
          <div class="content">
            <p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
              eistoteles anarequi et son amorites etimo nurli.</p>
            <div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
          </div>
        </li>
        <li>
          <h2><a href="./post.html">Owning at DayZ</a></h2>
          <div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
          <div class="content">
            <p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
              eistoteles anarequi et son amorites etimo nurli.</p>
            <div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
          </div>
        </li>
        <li>
          <h2><a href="./post.html">LoL tournament </a></h2>
          <div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
          <div class="content">
            <p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
              eistoteles anarequi et son amorites etimo nurli.</p>
            <div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
          </div>
        </li>
        <li>
          <h2><a href="./post.html">MOHW not as good as planned</a></h2>
          <div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
          <div class="content">
            <p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
              eistoteles anarequi et son amorites etimo nurli.</p>
            <div class="info"> <a href="#" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
          </div>
        </li>
      </ul>
    </div>
    <!--********************************************* Hot news end *********************************************--> 
    
    <!--********************************************* Main start *********************************************-->
    <div id="main_news_wrapper">
 
       <div id="row"> 
        <!-- Left wrapper Start -->
        <div id="left_wrapper">
        <div class="header">
            <h2><span>RPK //</span> GENERAL NEWS</h2>
          </div>
          <ul id="general_news">
            <li>
              <div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
              <ul class="social_share">
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/fbk.png" border="0" /></a></li>
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/twitter.png" border="0" /></a></li>
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/more.png" border="0" /></a></li>
              </ul>
              <div class="info">
                <div class="comments"> 18 </div>
                <h2><a href="./post.html">Blade and Soul - Open beta announced!</a></h2>
                <div class="date_n_author">12 July 2012, by Admin</div>
                <p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
                <a href="./post.html" class="read_more2">read more</a> </div>
                <div class="clear">
              </div>
            </li>
            <li>
              <div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
              <ul class="social_share">
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/fbk.png" border="0" /></a></li>
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/twitter.png" border="0" /></a></li>
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/more.png" border="0" /></a></li>
              </ul>
              <div class="info">
                <div class="comments"> 18 </div>
                <h2><a href="./post.html">Raiderz item giveaway!</a></h2>
                <div class="date_n_author">12 July 2012, by Admin</div>
                <p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
                <a href="./post.html" class="read_more2">read more</a> </div>
                <div class="clear"></div>
            </li>
            <li>
              <div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
              <ul class="social_share">
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/fbk.png" border="0" /></a></li>
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/twitter.png" border="0" /></a></li>
                <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/more.png" border="0" /></a></li>
              </ul>
              <div class="info">
                <div class="comments"> 18 </div>
                <h2><a href="./post.html">Dead Space 3 gameplay</a></h2>
                <div class="date_n_author">12 July 2012, by Admin</div>
                <p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
                <a href="./post.html" class="read_more2">read more</a> </div>
                <div class="clear"></div>
            </li>
          </ul>
          <ul id="pager">
            <li><a href="#" ><img alt="alt_example" src="{{ STATIC_URL }}images/left_pager.jpg" border="0"/></a></li>
            <li><a href="#" >1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#" class="active">3</a></li>
            <li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/right_pager.jpg" border="0"/></a></li>
          </ul>
          
          
          <div class="clear"></div>
          </div>
        <!-- Left wrapper end --> 
        
        <!-- Right wrapper Start -->
        <div id="right_wrapper">
          <div id="search">
            <input type="text" onblur="if(this.value =='') this.value='search'" onfocus="if (this.value == 'search') this.value=''" value="search" name="s" class="required" id="s" />
            <input type="button" />
          </div>
          <div class="review">
            <div class="header"><a href="#">Top games</a></div>
            <ul>
              <li>
                <div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
                <div class="info"> <a href="./post_game.html">Dead space 3</a><br/>
                  <small>05 December 2011, 2 Comments</small><br/>
                  <img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
              </li>
              <li>
                <div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
                <div class="info"> <a href="./post_game.html">Battlefield 3</a><br/>
                  <small>05 December 2011, 2 Comments</small><br/>
                  <img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
              </li>
              <li>
                <div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
                <div class="info"> <a href="./post_game.html">DayZ - Arma 2 mod</a><br/>
                  <small>05 December 2011, 2 Comments</small><br/>
                  <img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
              </li>
              <li>
                <div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
                <div class="info"> <a href="./post_game.html">League of legends</a><br/>
                  <small>05 December 2011, 2 Comments</small><br/>
                  <img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
              </li>
            </ul>
          </div>
          
          
          <div class="advert">
            <a href="http://themeforest.net/user/Skywarrior" target="_blank"><img alt="alt_example" src="{{ STATIC_URL }}images/advert_r.jpg" border="0" /></a>
          </div>
          
          
          <div class="categories">
            <div class="header"><a href="#">Categories</a></div>
            <ul>
              <li> <a href="./post_list.html">Action</a> </li>
              <li> <a href="./post_list.html">Adventure</a> </li>
              <li> <a href="./post_list.html">Strategy</a> </li>
              <li> <a href="./post_list.html">RPG</a> </li>
              <li> <a href="./post_list.html">Indie</a> </li>
              <li> <a href="./post_list.html">Massive Multiplayer</a> </li>
            </ul>
          </div>
                 
      
      <!-- Right wrapper end -->
      
        </div>
      	<div class="clear"></div>
        
        </div>
      </div>
    
    <div class="bottom_shadow"></div>
  
    <!--********************************************* Main end *********************************************--> 
    
    <!--********************************************* Main advert start *********************************************-->
    <div class="main_advert">
      <a href="http://themeforest.net/user/Skywarrior" target="_blank"><img alt="alt_example" src="{{ STATIC_URL }}images/main_ad.png" border="0" /></a>
      
    </div>
    <!--********************************************* Main advert end *********************************************--> 
    
    <!--********************************************* Footer start *********************************************-->
    <div id="footer">
    <div class="row">
      <div class="footer_widget">
        <div class="header"><a href="#">About ORIZON</a></div>
        <div class="body">
          <p><img alt="alt_example" src="{{ STATIC_URL }}images/about_img.png" align="left" style="margin:0px 15px 5px 0px;"  />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <p>Praesent aliquet justo quis lacus mollis molestie pellentesque habitant morbi tristique senectus et e. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque pulvinar urna eget ante pharetra vitae fermentum dui sagittis. Vivamus non ipsum elit, et tincidunt quam.</p>
          <img alt="alt_example" src="{{ STATIC_URL }}images/orizon_about.png" style="margin:11px 0px 0px 55px;"/></div>
      </div>
      <div class="divider_footer"></div>
      <div id="latest_media">
        <div class="header"><a href="#">latest media</a></div>
        <div class="body">
          <ul id="l_media_list">
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
            <li><a class="shadowbox" href="./images/media/full/1.jpg" rel="gallery" ><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    </div>
    <!--********************************************* Footer end *********************************************--> 
    <div class="clear"></div>
    <!--********************************************* Twitter feed start *********************************************-->
    <div id="twitter_last"> <a id="tr_left" href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="100%" height="30px" border="0" /></a>
      <div id="tr_right">
        <ul id="tw">
        </ul>
      </div>
    </div>
    <!--********************************************* Twitter feed end *********************************************--> 
  
  </div>
  <!--********************************************* Main_in end *********************************************--> 
  
  <a id="cop_text" href="#"> woodoo web development</a> 
  </div>
</div>
<!--********************************************* Main wrapper end *********************************************--> 

<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}javascript/jquery.carouFredSel-6.1.0.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}javascript/jquery.cslider.js" type="text/javascript" ></script> 
<script src="{{ STATIC_URL }}javascript/modernizr.custom.28468.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}javascript/getTweet.js" type="text/javascript" ></script> 
<script src="{{ STATIC_URL }}javascript/jquery.fancybox.js?v=2.1.3" type="text/javascript" ></script> 

<!--******* Javascript Code for the Hot news carousel *******--> 
<script type="text/javascript">
	$(document).ready(function() {
	
		// Using default configuration
		$("#sd").carouFredSel();
		
		// Using custom configuration
		$("#hot_news_box").carouFredSel({
			items				: 3,
			direction			: "right",
			prev: '#prev',
			next: '#next',
			scroll : {
				items			: 1,
				height			: 250,
				easing			: "quadratic",
				duration		: 2000,							
				pauseOnHover	: true
			}	
		});	
	})
</script> 


<!--******* Javascript Code for the Main banner *******--> 
<script type="text/javascript">
	$(function() {
	
		$('#da-slider').cslider({
			autoplay	: true,
			bgincrement	: 450
		});
	
	});
</script> 

<!--******* Javascript Code for the image shadowbox *******--> 
<script type="text/javascript">
$(document).ready(function() {
	/*
	*  Simple image gallery. Uses default settings
	*/
	
	$('.shadowbox').fancybox();
});
</script>

<!--******* Javascript Code for the menu *******-->

<script type="text/javascript">
    $(document).ready(function() {
        $('#menu li').bind('mouseover', openSubMenu);
        $('#menu > li').bind('mouseout', closeSubMenu);

        function openSubMenu() {
            $(this).find('ul').css('visibility', 'visible');
        };

        function closeSubMenu() {
            $(this).find('ul').css('visibility', 'hidden');
        };
    });
</script>

<script type="text/javascript">
    $(function() {
        var pull    = $('#pull');
        menu 		= $('ul#menu');

        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });

        $(window).resize(function(){
            var w = $(window).width();
            if(w > 767 && $('ul#menu').css('visibility', 'hidden')) {
                $('ul#menu').removeAttr('style');
            };
            var menu = $('#menu_wrapper').width();
            $('#pull').width(menu - 20);
        });
    });
</script>

<script type="text/javascript">
    $(function() {
        var menu = $('#menu_wrapper').width();
        $('#pull').width(menu - 20);
    });
</script>
</body>
</html>
