{% extends 'base_splitted.html' %}
{% block slider %}
<div id="da-slider" class="da-slider">
	<div class="da-slide">
		<h2><a href="#" class="da-link">For gamer by gamers</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
		Ut iaculis lorem vitae arcu elementum pellentesque. <br />
		Praesent pellentesque ornare neque id lobortis.</p>
		<div class="da-img"><img alt="alt_example" src="{{ STATIC_URL }}images/slider_1.png"  /></div>
	</div>
	<div class="da-slide">
		<h2><a href="#" class="da-link">Blade and Soul</a></h2>
		<p>Phasellus ac leo turpis. Morbi at pulvinar augue. <br />
		Aenean rhoncus ultrices volutpat. Vivamus eget enim ut orci iaculis condimentum sed a quam. </p>
		<div class="da-img"><img alt="alt_example" src="{{ STATIC_URL }}images/slider_2.png"  /></div>
	</div>
	<div class="da-slide">
		<h2><a href="#" class="da-link">Final Fantasy XIV</a></h2>
		<p>Etiam eu massa lectus. Nunc mi velit, commodo ut ullamcorper et, consectetur vel dolor. Etiam tincidunt convallis metus non suscipit.</p>
		<div class="da-img"><img alt="alt_example" src="{{ STATIC_URL }}images/slider_3.png"  /></div>
	</div>
	<div class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </div>
</div>

<div class="top_shadow"></div>
{% endblock %}
{% block rotate %}
<div id="hot_news">
	<div class="header">
		<h1><span>RPK //</span> NOTÍCIAS QUENTES</h1>
	</div>

	<!-- Previous and next selector --> 
	<a id="prev" class="prev" href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/blank.gif" width="21" height="33" border="0" /></a> <a id="next" class="next" href="#"><img alt="alt_example" src="./images/blank.gif" width="21" height="33" border="0" /></a>
	<ul id="hot_news_box">
		<li>
		<h2><a href="./post.html">Battlefield 3 expansion!</a></h2>
		<div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg"/></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">Dead space looking good</a></h2>
		<div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">Dead space new footage</a></h2>
		<div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">Owning at DayZ</a></h2>
		<div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">LoL tournament </a></h2>
		<div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="./post.html" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
		<li>
		<h2><a href="./post.html">MOHW not as good as planned</a></h2>
		<div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
		<div class="content">
			<p>Nam dignissim nulla mattis justo aliquet luctus. Mauris venenatis eros. Nam in leo libero. In hac habitasse platea dictumst. Phasellus aliquet aliquam sto,dignissi
			eistoteles anarequi et son amorites etimo nurli.</p>
			<div class="info"> <a href="#" class="comments">18 Comments</a> <a href="./post.html" class="read_more">read more</a> </div>
		</div>
		</li>
	</ul>
</div>
{% endblock %}

{% block left_wrapper %}
<div class="header">
	<h2><span>RPK //</span> GENERAL NEWS</h2>
</div>
<ul id="general_news">
	<li>
	<div class="image"><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
	<ul class="social_share">
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/fbk.png" border="0" /></a></li>
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/twitter.png" border="0" /></a></li>
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/more.png" border="0" /></a></li>
	</ul>
	<div class="info">
		<div class="comments"> 18 </div>
		<h2><a href="./post.html">Blade and Soul - Open beta announced!</a></h2>
		<div class="date_n_author">12 July 2012, by Admin</div>
		<p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
		<a href="./post.html" class="read_more2">read more</a> </div>
	<div class="clear">
	</div>
	</li>
	<li>
	<div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
	<ul class="social_share">
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/fbk.png" border="0" /></a></li>
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/twitter.png" border="0" /></a></li>
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/more.png" border="0" /></a></li>
	</ul>
	<div class="info">
		<div class="comments"> 18 </div>
		<h2><a href="./post.html">Raiderz item giveaway!</a></h2>
		<div class="date_n_author">12 July 2012, by Admin</div>
		<p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
		<a href="./post.html" class="read_more2">read more</a> </div>
	<div class="clear"></div>
	</li>
	<li>
	<div class="image"><a href="./post.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/full/1.jpg" /></a></div>
	<ul class="social_share">
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/fbk.png" border="0" /></a></li>
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/twitter.png" border="0" /></a></li>
		<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/more.png" border="0" /></a></li>
	</ul>
	<div class="info">
		<div class="comments"> 18 </div>
		<h2><a href="./post.html">Dead Space 3 gameplay</a></h2>
		<div class="date_n_author">12 July 2012, by Admin</div>
		<p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
		<a href="./post.html" class="read_more2">read more</a> </div>
	<div class="clear"></div>
	</li>
</ul>
<ul id="pager">
	<li><a href="#" ><img alt="alt_example" src="{{ STATIC_URL }}images/left_pager.jpg" border="0"/></a></li>
	<li><a href="#" >1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#" class="active">3</a></li>
	<li><a href="#"><img alt="alt_example" src="{{ STATIC_URL }}images/right_pager.jpg" border="0"/></a></li>
</ul>


<div class="clear"></div>
{% endblock %}

{% block right_wrapper %}
<div id="search">
	<input type="text" onblur="if(this.value =='') this.value='search'" onfocus="if (this.value == 'search') this.value=''" value="search" name="s" class="required" id="s" />
	<input type="button" />
</div>
<div class="review">
	<div class="header"><a href="#">Top games</a></div>
	<ul>
		<li>
		<div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
		<div class="info"> <a href="./post_game.html">Dead space 3</a><br/>
			<small>05 December 2011, 2 Comments</small><br/>
			<img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
		</li>
		<li>
		<div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
		<div class="info"> <a href="./post_game.html">Battlefield 3</a><br/>
			<small>05 December 2011, 2 Comments</small><br/>
			<img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
		</li>
		<li>
		<div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
		<div class="info"> <a href="./post_game.html">DayZ - Arma 2 mod</a><br/>
			<small>05 December 2011, 2 Comments</small><br/>
			<img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
		</li>
		<li>
		<div class="img"><a href="./post_game.html"><img alt="alt_example" src="{{ STATIC_URL }}images/media/thumb/1.jpg" /></a></div>
		<div class="info"> <a href="./post_game.html">League of legends</a><br/>
			<small>05 December 2011, 2 Comments</small><br/>
			<img alt="alt_example" src="{{ STATIC_URL }}images/stars.png" /> </div>
		</li>
	</ul>
</div>
<div class="categories">
	<div class="header"><a href="#">Categories</a></div>
	<ul>
		<li> <a href="./post_list.html">Action</a> </li>
		<li> <a href="./post_list.html">Adventure</a> </li>
		<li> <a href="./post_list.html">Strategy</a> </li>
		<li> <a href="./post_list.html">RPG</a> </li>
		<li> <a href="./post_list.html">Indie</a> </li>
		<li> <a href="./post_list.html">Massive Multiplayer</a> </li>
	</ul>
</div>
{% endblock %}
